body
{
        margin: auto;
        padding: 30px;
        background-color:#EFE2BA;
        font-family: 'Arial';
        max-width: 500px;
}
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: YELLOW;
        border-radius: 15px ;

}
.check{
        padding-left: 17px;
        font-size: 27px;
}
h2{
        text-align: center;
        color: #7E685A;
        padding: 20px;
}
label{
        color: #7E685A;
        font-size: 17px;
}
#fname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    text-align: center;

}
#name{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    text-align: center;

}
#username{
        width: 300px;
        height: 30px;
        border: none;
        border-radius: 3px;
        padding-left: 8px;
        text-align: center;
}
#password{
        width: 300px;
        height: 30px;
        border: none;
        border-radius: 3px;
        padding-left: 8px;
        text-align: center;
}
#cpassword{
        width: 300px;
        height: 30px;
        border: none;
        border-radius: 3px;
        padding-left: 8px;
        text-align: center;
}
#log{
        width: 400px;
        height: 30px;
        border: none;
        border-radius: 17px;
        padding-left: 7px;
        color: Brown;
        margin: auto;
}
span{
        color: grey;
        font-size: 17px;
        padding-left: 10px;
}
.a{
        float: right;
        background-color: grey;
}
